div.container {
      width: 1000px;
      margin: 0 auto;
    }
    ul.menubar {
      border: 1px solid #FFF;
      border-radius: 0.5em;
      background: linear-gradient(#C2DEFF, #A6D0FF); 
      padding: 0.5em;
      text-align: center;
      font-size: 11pt;
    }
    ul.menubar li {
      border-radius: 0.9em;
      border: 0.7px solid #FFF;
      display: inline-block;
      list-style-type: none;
      min-width: 6em;
      text-align: center;
      padding: 0.4em 1em;
      margin-left:5em;
      margin-right:5em;
    }
    ul.menubar li:hover {
      border: 1px solid #FFF;
      border-radius: 0.9em;
      background-color: #6BB0FF;
      cursor: pointer;
    }
   .a{border:1px solid #C2DEFF;}
   .b{display: inline-block;
       padding-left: 25em;}
   .c{display: inline-block;
      padding-left: 35em;}
   .d{display: inline-block;
      padding-left: 5em;}
   .e{border:1px solid #C2DEFF;  background-color:#C2DEFF;}